{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change_list' %}">My Quizzes</a></li>
      <li class="breadcrumb-item"><a href="{% url 'teachers:quiz_change' quiz.pk %}">{{ quiz.name }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Confirm deletion</li>
    </ol>
  </nav><center>
  <h2 class="mb-3">Confirm deletion</h2>
  <p >Are you sure you want to delete the quiz "{{ quiz.name }}"? </p>
  <form method="post">
    {% csrf_token %}
    <button style="color:red" type="submit" >Yes, I'm sure</button>
  </form></center>
{% endblock %}
